<nav>
        <img src="./static/img/logo.png" alt="logo">
        <style>
            .menu a.active {
                font-weight: bold;
                color: red; /* or your active color */
            }           
        </style>
        <ul class="menu">
            <li><a href="/" class="{{#if (eq currentPath "/")}}active{{/if}}">Home</a></li>
            <li><a href="/all" class="{{#if (eq currentPath "/all")}}active{{/if}}">All Movies</a></li>
            <li><a href="/search" class="{{#if (eq currentPath "/search")}}active{{/if}}">Search</a></li>

            {{#if isLoggedIn}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}

        </ul>

</nav>