<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/src/static/css/style.css">
</head>
<body>
    <div id="box">
        {{> navbar}}
        <main>
            {{{body}}}
        </main>
        <footer>
            &copy; SoftUni Final Project
        </footer>
    </div>
</body>
</html>