<div class="full-screen">
    <div class='con-not-found'>
        <span class="error-num">4</span>
        <div class='eye'></div>
        <span class="error-num">4</span>
        <p class="sub-text">Oops! The page you're looking for doesn't exist.</p>
        <p><a href="/">Go Home</a></p>
    </div>
</div>